%p#notice= notice
%h1 Orders
%table
  %thead
    %tr
      %th Amount cents
      %th First name
      %th Last name
      %th Country
      %th Email address
      %th Number
      %th Permalink
      %th{:colspan => "3"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.amount_cents
        %td= order.first_name
        %td= order.last_name
        %td= order.country
        %td= order.email_address
        %td= order.number
        %td= order.permalink
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Order', new_order_path
